// material/calendar.less
.popover-picker-calendar .picker-calendar {
    height: 420px;
}
.popover-picker-calendar .picker-calendar {
    .translate3d(0%,0%,0);
    width: auto;
    max-width: none;
    left: 0;
    top: 0;
    box-shadow: none;
}
// material/modals.less
.popover .picker-modal {
    display: block;
    position: relative;
    background: none;
    z-index: inherit;
    .translate3d(0,0,0);
    .toolbar {
        top: 0;
    }
}
// ios/framework7.ios.colors.less
.popover .picker-modal .toolbar {
    background-color: @themeColor;
}

.preloader {
    animation: preloader-spin 1s steps(12,end) infinite;
}