<div data-page="detailsPage" class="page cached">
    <div class="page-content">
        <div class="list-block media-list">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title" ng-bind="item.title"></div>
                                <div class="item-after" ng-bind="item.after"></div>
                            </div>
                            <div class="item-subtitle">New messages from John Doe</div>
                            <div class="item-text">Lorem ipsum dolor sit amet...</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>