<div data-page="detailPage" class="page cached">
    <div class="page-content smooth">
        <div class="list-block media-list icon-list">
            <ul>
                <li ng-repeat="item in items" open class="icon-connector">
                    <a href="#" class="item-link item-content media-list">
                        <div class="item-media" ng-class="item.color">
                            <i class="fa" ng-class="item.icon"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title" ng-bind="item.title"></div>
                                <div class="item-after" ng-bind="item.after  | date:'dd-MM-yy H:mm'"></div>
                            </div>
                            <div class="item-subtitle">New messages from John Doe</div>
                            <div class="item-text" ng-hide="item.text">Lorem ipsum dolor sit amet...</div>
                            <div class="item-text" ng-show="item.text" ng-bind="item.text"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>