<div data-page="index" class="page">

    <div class="page-content pull-to-refresh-content" data-ptr-distance="55">

        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>

        <div class="content-block-title" ng-show="items.length" translate="INDEX.LAST_ITEMS"></div>
        <div class="content-block-title" ng-hide="items.length" translate="INDEX.NO_ITEMS"></div>

        <div class="card" ng-repeat="item in items track by item.timestamp">
            <div class="card-header" ng-bind="item.title"></div>
            <div class="card-content">
                <div class="card-content-inner">
                    <p>Card with header and footer, some usefull information and a link.</p>
                    Created on {{ item.timestamp | date:'dd-MM-yy H:mm:ss' }}.
                    With a price of {{ item.price }}€.</div>
            </div>
            <div class="card-footer">
                <!--<a href="#" class="link">Like</a>-->
                <a href="#detailPage" state-params="{{ item }}" class="link" translate="INDEX.MORE"></a>
            </div>
        </div>

        <div class="list-block">
            <ul>
                <li class="item-divider">Limit to:</li>
                <li>
                    <label class="label-radio item-content">
                        <input type="radio" name="filter" value="track">
                        <div class="item-media">
                            <i class="icon icon-form-radio"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">Track name</div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>

    </div>
    <a href="#newPage" class="floating-button color-pink">
        <i class="icon icon-plus"></i>
    </a>
</div>