<div class="navbar no-border">
    <div class="navbar-inner" data-page="index">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
        <div class="left sliding" translate="INDEX.PAGE"></div>
    </div>
    <div class="navbar-inner cached" data-page="detailsPage">
        <div class="left sliding">
            <a href="index" class="link back">
                <i class="icon icon-back"></i><span>Detail page</span>
            </a>
        </div>
        <div class="right"></div>
    </div>
    <div class="navbar-inner cached" data-page="newPage">
        <div class="left sliding">
            <a href="index" class="link back">
                <i class="icon icon-back"></i><span translate="NEW.PAGE"></span>
            </a>
        </div>
        <div class="right"></div>
    </div>
</div>
